
.RegistrationBox {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); background: rgba(0,0,0,0.5); border-radius: 5px; width: 90%; max-width: 400px; padding: 30px; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);}
.RegistrationBox h2 { padding-bottom: 15px; color: #ee0290;}

.alert { padding: 0.5rem;}

@keyframes slideleft {
    from {
        background-position: 0%;
    }
    to {
        background-position: 90000%;
    }
}

@-webkit-keyframes slideleft {
    from {
        background-position: 0%;
    }
    to {
        background-position: 90000%;
    }
}

.LoginWrapper{
    background-image: url(../../assets/images/bg.jpg);
    background-repeat: repeat-x;
    animation: slideleft 200000s infinite linear;
    -webkit-animation: slideleft 200000s infinite linear;
    background-size: cover;
	-webkit-background-size:cover;
	-moz-background-size:cover; 
    background-attachment: fixed;
    position: relative;
	min-height: 100vh;
}
.bgLayer {
    background: rgba(0, 0, 0, 0.7);
    min-height: 100vh;
}